a.read-more,
a.read-more:hover,
a.read-more:active {
    display: inline-flex;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
}
