// FIXME: Refactor this giant mess of CSS to use flexbox and/or relative
// elements only once Zola outputs proper HTML for code block headings and/or a
// "copy to clipboard" button. Until then, we make do with `::before`/`::after`
// pseudo-elements with very hacky absolute positioning.
//
// Links to relevant Zola issues:
//
// https://github.com/getzola/zola/issues/1851
// https://github.com/getzola/zola/issues/2586

pre[data-lang] {
    display: block;
    position: relative;
    overflow: hidden;
    overflow-x: auto;

    &[data-linenos] {
        padding: 10px 0;
    }

    code[data-lang] {
        $header-padding-vertical: 6px;
        $header-border-thickness: 1px;
        $line-number-color: color-mix(in srgb, var(--text-color) 53%, transparent);

        display: block;
        padding-top: calc(var(--line-height) + $header-padding-vertical * 2 + $header-border-thickness);
        overflow-x: auto;

        &::before {
            content: attr(data-lang);
            display: block;
            inset-inline-start: 0;
            padding: $header-padding-vertical 10px;
            width: 100%;
            position: absolute;
            top: 0;
            border-bottom: $header-border-thickness solid var(--code-border);
            color: $line-number-color;
            font-size: calc(var(--font-size) * 0.8);
            text-transform: uppercase;
            line-height: calc(var(--font-size) * 1.313);
        }

        &[data-name] {
            &::after {
                content: attr(data-name);
                display: block;
                padding: $header-padding-vertical 10px;
                position: absolute;
                top: 0;
                right: 0;
                color: $line-number-color;
                font-size: calc(var(--font-size) * 0.8);
                line-height: calc(var(--font-size) * 1.313);
            }

            &:has(.copy-button)::after {
                right: calc(4.5rem + 10px);
            }
        }

        .copy-button {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            margin: $header-padding-vertical 10px;
            padding: 3px 8px;
            width: 4.5rem;
            border: 1px solid color-mix(in srgb, var(--accent-color) 15%, transparent);
            font-size: calc(var(--font-size) * 0.8);
            font-weight: normal;
            line-height: calc(var(--font-size) * 0.8);
        }

        mark {
            color: unset;
            display: block;
        }

        table {
            margin: 0;
            width: 100%;
            border-collapse: collapse;

            td,
            th,
            tr {
                border: none;
                padding: 0;
            }

            tr td:first-child {
                color: $line-number-color;
                text-align: right;
                user-select: none;

                &:not(:has(mark)) {
                    padding-left: 10px;
                    padding-right: 1.2em;
                }

                &>mark {
                    padding-left: 10px;
                    padding-right: 1.2em;
                }
            }
        }
    }
}
