{%- component feed.link_alternate(filename: string, title: string) -%}
    {%- if filename is ending_with(pat="atom.xml") -%}
        {%- set type = 'type="application/atom+xml" ' -%}
    {%- elif filename is ending_with(pat="rss.xml") -%}
        {%- set type = 'type="application/rss+xml" ' -%}
    {%- elif filename is ending_with(pat=".json") -%}
        {%- set type = 'type="application/feed+json" ' -%}
    {%- endif -%}
    {%- set title = title | replace(from='"', to="&quot;") | replace(from="&", to="&amp;") -%}
    <link rel="alternate" {{ type | default(value="") | safe -}} href="{{ get_url(path=filename, lang=lang) }}" title="{{ title | safe }}">
{%- endcomponent feed.link_alternate -%}
